:root {
    font-size: xx-large;
    font-family: 'Tahoma';
    color :var(--greenFive);
    margin: 0;
    padding: 0;

    --zero: #eef7f0;
    --greenOne: #DAF1DE;
    --greenTwo: #8EB69B;
    --greenThree: #235347;
    --greenFour: #163832;
    --greenFive: #051F20;
}

.hidden{
    display: none;
}

.panel{
    border: solid 0.2rem;
    border-radius: 1rem;
    margin: 1rem;
    margin-top: 0;
    text-align: center;
    background-color: var(--greenOne);
}

#show-workout-container{
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: "title workout"
                         "desc workout"
                         "start clear";

    padding: 1rem;
}

#build-title{
    grid-area: title;
    margin: 0.2rem;
    margin-right: 0.5rem;
}

#build-desc{
    grid-area: desc;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}

#start-workout {
    grid-area: start;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--zero);
    padding: 0.5rem;
    border: solid 0.2rem;
    border-radius: 10rem;
    font-size: 1.5rem;
    margin: 1rem;
    height: 1em;
}

#clear-workout {
    grid-area: clear;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--zero);
    border: solid 0.2rem;
    padding: 0.5rem;
    border-radius: 10rem;
    font-size: 1.5rem;
    margin: 1rem;
    height: 1em;
}

#selected-workouts-text{
    grid-area: workout;
    border: solid 0.2rem;
    border-radius: 3rem;
    padding: 2vw;
    text-align: center;
    background-color: var(--zero);
    margin: 0 0.5rem 0 0.5rem;
    font-weight: bold;
}

#custom{
    grid-area: auto; 
}

#preset{
    grid-area: auto;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav{
    grid-area: auto;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--zero);
    border: solid 0.2rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10rem;
    transition: 0.1s;
}

.nav:hover{
    margin:0.9rem
}

.custom-button-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button-type{
    margin: 0.5rem;
}

.exercise-button {
    transition: 0.2s;
}

.exercise-button:hover{
    margin: 0.3rem;
}

.button{
    text-align: center;
    user-select: none;
    font-weight: bold;
    margin: 0.5em;
    border: solid 0.2em;
    border-radius: 1.5em;
    cursor: pointer;
    background-color: var(--zero); 
}

.button > p {
    user-select: none;
    pointer-events: none;
}

.preset-button{
    text-align: left;
    user-select: none;
    margin: 0.5rem;
    border: solid 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--zero);
    transition: 0.1s;
    padding: 0.5rem;
}

.preset-button-content{
    user-select: none;
    pointer-events: none;
}

.preset-button:hover{
    margin: 0.3rem;
}

#workout-control-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas: "title title title title"
                         "timer timer timer timer"
                         "back play play next"
                         "next-workout next-workout next-workout next-workout"
                         "cancel cancel cancel cancel";

    padding: 1rem;
}

#current-workout-text{
    grid-area: title; 
    font-size: 3rem;
}

#timer{
    grid-area: timer;
    font-size: 8rem;
}

.control-button{
    height: 2rem;
    text-align: center;
    user-select: none;
    font-weight: bold;
    line-height: 2rem;
    margin:0 1vw 0 1vw;
    border: solid 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--zero);
}

#back-button{
    grid-area: back;
}

#play-button{
    grid-area: play;
}

#next-button{
    grid-area: next;
}

#next-workout{
    grid-area: next-workout;
    margin: 0 1rem 0 1rem;
    font-size: 2rem;
}

#cancel-button{
    grid-area: cancel;
    height: 2rem;
}

.instructions{
    padding: 1rem;
}

#instruction-header{
    margin: 0 0 0.5rem 0;
}

.clicked{
    background-color: var(--greenTwo);
}

#logo {
    float: right;
    right: 1rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    width: 4rem;
}

#login{
    float: left;
    text-align: center;
    user-select: none;
    font-weight: bold;
    line-height: 2rem;
    margin: 0.5rem 1rem 0 1rem;
    border: solid 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--zero); 
    padding: 0 0.5rem 0 0.5rem;
    height: 2rem;
    vertical-align: top;
}

.colour-pallete {
    width: 2rem;
    height: 2rem;
    border: solid 0.2rem;
    border-radius: 0.75rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    display: inline-block;
    transition: 0.5s;
}

.up{
    animation-duration: 0.2s;
    animation-name: wave;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.one {
    background-color: var(--greenOne);
}


.two {
    background-color: var(--greenTwo);
}

.three {
    background-color: var(--greenThree);
}

.four {
    background-color: var(--greenFour);
}

.five {
    background-color: var(--greenFive);
}

@keyframes wave {
    from { transform : translateY(0);}
    to   { transform : translateY( -10px );}
}

@media (max-width: 1000px) {
    #login{
        float: none;
        width: 4rem;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }
    
    header{
        margin: 0.5rem;
     }
}

@media (min-width: 1000px) {
    :root{
        font-size: large;
    }
}

