* {
    font-family: 'Tahoma';
    color: #051F20;
    margin: 0;
    padding: 0;
}

body {
    padding: 0.5em;
}

.main-content-container {
    background-color: #DAF1DE;
}

.workout-selection-button {
    width: 100px;
    height: 100px;
    text-align: center;
    user-select: none;
    font-weight: bold;
    line-height: 2em;
    cursor: pointer;
    background-color: #DAF1DE;
    display: inline-block;
}

#squats {
    vertical-align: top;
}

#burpees {
    vertical-align: top;
}

.start-workout {
    cursor: pointer;
    font-weight: bold;
    background-color: #eef7f0;
    transition: all 0.2s;
    border: solid;
    margin: 1em;
    padding: 0.5em;
    border-radius: 10em;
}

.start-workout:hover {
    transform: scale(1.01);
}

.preset-button:hover {
    transform: scale(1.01);
}

.workout-selection-button:hover {
    transform: scale(1.05);
}

p {
    pointer-events: none;
}

h3 {
    user-select: none;
}

.preset {
    width: 20em;
    display: inline-block;
    margin: 0.5em;
    cursor: pointer;
    user-select: none;
}

.border {
    border: solid;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.preset-container {
    background-color: #DAF1DE;
}

.preset-button {
    background-color: #eef7f0;
}

.selected-workouts {
    text-align: center;
    background-color: #DAF1DE;
}

.selected-workouts-text {
    height: 5rem;
    line-height: 5rem;
    font-size: larger;
    background-color: #eef7f0;
}

.instructions {
    height: 400px;
    position: absolute;
    overflow: auto;
    right: 1em;
    width: 46%;
    background-color: #eef7f0;
}

section {
    width: 46%;
}

.arms-container {
    background-color: #eef7f0;
}

.legs-container {
    background-color: #eef7f0;
}

.chest-container {
    background-color: #eef7f0;
}

.endurance-container {
    background-color: #eef7f0;
}

.clicked {
    background-color: #8EB69B;
}

#logo {
    position: absolute;
    right: 1em;
    width: 7em;
    transition: all 0.5s;
}

#logo:hover {
    width: 8em;
}

.colour-pallete {
    width: 1em;
    height: 1em;
    border: solid;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
}

.one {
    background-color: #DAF1DE;
}

.two {
    background-color: #8EB69B;
}

.three {
    background-color: #235347;
}

.four {
    background-color: #163832;
}

.five {
    background-color: #051F20;
}

@keyframes hover {

    0%,
    100% {
        background-color: #eef7f0;
    }

    50% {
        background-color: #dae6dd;
    }
}