
.workout-selection{
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.instructions{
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    padding: 5px;
}

.selected{
    background-color: green;
}

p{
    pointer-events: none;
}

.presets{
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    width: 50%;
    padding: 5px;
}